@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Calibri";
  src: url("../public/fonts/Calibri/Calibri-LightItalic.eot");
  src: local("Calibri Light Italic"),
    local("../public/fonts/Calibri/Calibri-LightItalic"),
    url("../public/fonts/Calibri/Calibri-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Calibri/Calibri-LightItalic.woff2") format("woff2"),
    url("../public/fonts/Calibri/Calibri-LightItalic.woff") format("woff"),
    url("../public/fonts/Calibri/Calibri-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("../public/fonts/Calibri/Calibri-Italic.eot");
  src: local("Calibri Italic"), local("../public/fonts/Calibri/Calibri-Italic"),
    url("../public/fonts/Calibri/Calibri-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Calibri/Calibri-Italic.woff2") format("woff2"),
    url("../public/fonts/Calibri/Calibri-Italic.woff") format("woff"),
    url("../public/fonts/Calibri/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("../public/fonts/Calibri/Calibri-Light.eot");
  src: local("Calibri Light"), local("../public/fonts/Calibri/Calibri-Light"),
    url("../public/fonts/Calibri/Calibri-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Calibri/Calibri-Light.woff2") format("woff2"),
    url("../public/fonts/Calibri/Calibri-Light.woff") format("woff"),
    url("../public/fonts/Calibri/Calibri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../public/fonts/Calibri/Calibri-Bold.eot");
  src: local("Calibri Bold"), local("../public/fonts/Calibri/Calibri-Bold"),
    url("../public/fonts/Calibri/Calibri-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Calibri/Calibri-Bold.woff2") format("woff2"),
    url("../public/fonts/Calibri/Calibri-Bold.woff") format("woff"),
    url("../public/fonts/Calibri/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../public/fonts/Calibri/Calibri.eot");
  src: local("Calibri"),
    url("../public/fonts/Calibri/Calibri.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Calibri/Calibri.woff2") format("woff2"),
    url("../public/fonts/Calibri/Calibri.woff") format("woff"),
    url("../public/fonts/Calibri/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../public/fonts/Calibri/Calibri-BoldItalic.eot");
  src: local("Calibri Bold Italic"),
    local("../public/fonts/Calibri/Calibri-BoldItalic"),
    url("../public/fonts/Calibri/Calibri-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Calibri/Calibri-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/Calibri/Calibri-BoldItalic.woff") format("woff"),
    url("../public/fonts/Calibri/Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@layer base {
  * {
    @apply text-white font-Calibri;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#040811] text-white;
    background: #040811 !important;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] w-[90%] mx-auto xl:w-[78%];
  }

  .button {
    @apply bg-[#4D89FB] w-[120px] h-[34px] rounded-[.4rem];
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .tab {
    @apply border-[3px] border-transparent relative xl:border-[4px];
  }

  .tab::before {
    @apply content-[""] absolute top-[110%] left-0 w-full h-[3px] bg-transparent;
  }

  .tab.tab-active {
    @apply border-[#1154ff];
  }
  .tab.tab-active::before {
    @apply content-[""] absolute top-[110%] left-0 w-full h-[3px] bg-[#1154ff] xl:h-[4px];
  }
}

.features-slider {
  padding-bottom: 1.4rem !important;
}

.swiper-pagination {
  bottom: unset !important;
  top: 90% !important;
}

.swiper-pagination-bullet {
  min-width: 12px !important;
  min-height: 12px !important;
  background-color: #282828 !important;
  transition: all 0.2s ease !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #05153c !important;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101 !important;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

.nft-slider {
  width: 100% !important;
}

.nft-slider .swiper-wrapper {
  width: 100% !important;
}

.nft-slider .swiper-slide {
  width: 100% !important;
  max-width: 100% !important;
}
